.menu__body{
    background-color: $bckgrd-clr-gray;
    .page__section{
        padding: 2em 5%;
        position: relative;
        top: -50px;
        border-radius: 25px 25px 0 0;
        background-color: $bckgrd-clr-gray;
        .title{
            display: flex;
            justify-content: space-between;        
            h1{
                @extend %restaurant-name;
            }
        }
        .menus{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: baseline;
        }
        .order__btn{
            text-align: center;
            padding-top: 2em;
        }
    }
} 